@model IEnumerable<Domain.AlbumSong>

@{
    ViewData["Title"] = "Albums and Songs";
}
<br/>
<br/>
<h1>Albums and Songs</h1>
<br/>
<br/>
<table class="table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            @*<th scope="col">
                @Html.DisplayNameFor(model => model.AlbumSongId)
                </th>*@
            <th scope="col">
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AlbumSongId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongTitle)
                </td>
                <td class="btn btn-primary">
                    @Html.ActionLink("Edit", "Edit", new { albumSongId=item.AlbumSongId }, new{style="color:white"})
                </td>
                <td class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { albumSongId=item.AlbumSongId }, new{style="color:white"})
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="btn btn-success">
    <a class="text-white" asp-action="Create">New Album-Song</a>
</p>
