@model IEnumerable<Domain.Top>

@{
    ViewData["Title"] = "MostLikedSongPerArtist";
}
<br/>
<br/>
<h1>The Most Liked Song Per Artist</h1>
<br/>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
<p class="btn btn-secondary">
    <a class="text-white" asp-action="Index">Back</a>
</p>
